/* .third-width{
    width: 20%;
    float: left;
}
.im{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin-top: 50px;
    margin-left: 50px;
}
.top-part{
    border: 4px solid black;
    height: 300px;
    margin-bottom: 25px;
}
.top-text{
    margin-top: 100px;
}
.middle-part{
    border: 4px solid black;
    height: auto;
    padding-left: 10px;
    margin-bottom: 25px;
}
.last-part{
    border: 4px solid black;
    height: auto;
    padding-left: 10px;
    margin-bottom: 25px;
} */